@import '../../variables.scss';

.title {
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid $dark-gray;
}

.image-wrap {
    text-align: center;
    padding-top: 1rem;
}

.details {
    padding: 1rem;
    max-height: 15rem;
    overflow-y: scroll;
    box-shadow: 0 -5px 5px -5px #333;
    margin-top: 1rem;
    margin-bottom: .5rem;
}